@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url(../images/forest-bgp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a3641;
}

body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #0a3641;
  padding: 0px 20px 0px 20px;
}

header a {
  text-decoration: none;
  color: #ddd;
  text-transform: uppercase;
}

.cart {
  width: 75%;
}

main {
  flex: 1;
}

.biglogodiv {
  /* border: 3px solid white; */
}

.logobigwhite {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block; /*--
  make an image a block to center-align it --*/
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #0a3641;
  padding: 0px 20px 0px 20px;
}

footer a {
  text-decoration: none;
  color: #ddd;
  text-transform: uppercase;
}

.logosmall {
  width: 50%;
}

.copyright {
  background-color: #000;
  color: #ddd;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 45%;
  width: 45%;
  /* border: 3px solid white; */
}

.wrapper a {
  padding: 0 10px 0 10px;
}

button {
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  width: 150px;
  height: auto;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/*--
index.html
--*/
.threepics {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  margin: 80px 20px 0 20px;
  gap: 5%;
  /* border: 1px solid white; */
}

.threepics img {
  width: 100%;
}

/*--
browse.html
--*/
.alljackets {
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 30px;
  border: 3px solid white;
}
.text-jackets {
  color: #ddd;
  border: 1px solid white;
  text-align: center;
}

.jacket {
  max-width: 70%;
  max-height: auto;
  margin-top: auto;
  /* border: solid white; */
}

/*--
about.html
--*/
.about__texts {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin: 0px 25px;
}

.about__texts p {
  color: #ddd;
  margin: 10px;
}

.rainyworkers {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.rainyimg {
  max-width: 30%;
  height: auto;
  margin: 30px 0;
}

/*--
contact.html
--*/
.contact-info {
  display: flex;
  width: 50%;
}

.contact__child {
  flex: 1;
  margin: 10px;
  /* border: 2px solid white; */
}

.contact-info p {
  color: #ddd;
  margin: 0 0 0 20px;
}

form {
  color: #ddd;
}

/*--
redline.html
--*/
.redline-main {
  color: #ddd;
  display: flex;
  border: 1px solid white;
}

.redline-img-parent {
  display: flex;
  width: 100%;
  border: 1px solid white;
  align-items: center;
}

.redline-img-child {
  width: 50%;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
}

.cta-redline {
  margin: 10px;
}

.salespitch {
  margin: 10px;
}

/*--
cart.html
--*/
.cart-main {
  color: #ddd;
  display: flex;
  border: 1px solid white;
}

.cart-redline {
  display: flex;
  width: 50%;
  border: 1px solid white;
  align-items: center;
}

.cart-redline-child {
  width: 50%;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
}

/*--
checkout.html
--*/
.order-summary {
  display: flex;
  color: white;
  border: 1px solid white;
  padding: 150px 50px 50px 50px;
}

.checkout-redline {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.checkout-redline img {
  width: 20%;
}

.cta-checkout {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid white;
}
